@use "../../variables.scss";

// -----------------------------------------------------------------------------
// This file contains all styles related to the Search component.
// -----------------------------------------------------------------------------

/**
* Search styles
**/
.search-container {
    display: flex;   
    flex-direction: row;
    gap: 20px;

    & img {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
}